# Proprietary licensed IRANSansX build assets only.
# Open-source Vazirmatn assets under assets/fonts/vazirmatn/ are tracked.
/assets/fonts/IRANSansX*.ttf
/assets/fonts/IRANSansX*.otf
/assets/fonts/IRANSansX*.woff
/assets/fonts/IRANSansX*.woff2
/assets/fonts/FontLicense.txt
